

# Node
node_modules/
npm-debug.log*

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/

# Mac / Windows junk
.DS_Store
Thumbs.db

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/
